<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet", type="text/css", href="static/CSS/contact.css">

</head>
<body>
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="index.html">Home</a>
    <a href="videos.html">Videos</a>
    <a href="videostream.html">Live Stream</a>
  </div>
</div>

<h1> Contact me any time</h1>

<p>
  This flask streaming application was made for educational purposes only
  Class: CNT 4513
  Professor: Ruben Balmaceda
  Author: Akil Gayle
</p>

</body>
</html>