<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/login.css">
</head>
<body>
{% include 'flash_message.html' %}
<form method="post">
<h2>Please sign in</h2>
  {% if error %}
    <div class="alert alert-danger">
      <strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
  <div class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Your username" required >
  </div>
    <br>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
  </div>
    <br>
  <center>
      <button class="btn-block" type="submit">Sign in</button>
  </center>
</form>
</body>
</html>