<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Video Stream</title>
    <link rel= "stylesheet" type="text/css" href="static/CSS/videostream.css">

  <script type="text/javascript" src="static/JS/videostream.js"></script>
</head>
<body id="changeme">

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="home">Home</a>
    <a href="videos">Videos</a>
    <a href="contact">Contact</a>
      <a href="logout">Logout</a>
  </div>
</div>

<center>
<p id="trying"> Beta Streaming Live stream </p>
    <br>

    <video id="vid" autoplay width="620" height="440">

    </video>

</center>

</body>
</html>